@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
  }
  
  @supports (font-variation-settings: normal) {
    :root { 
      font-family: InterVariable, sans-serif;
    }
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 3.8% 46.1%;

    --card: 0 0% 100%;
    --card-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 3.8% 46.1%;

    --primary: 224 91% 63%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 1.2% 54.1%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 240 1.2% 54.1%;

    --accent: 224 91% 63%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 91% 63%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;

    --primary: 224 91% 63%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 1.2% 54.1%;
    --secondary-foreground: 0 0% 100%;

    --muted: 223 47% 11%;
    --muted-foreground: 240 1.2% 54.1%;

    --accent: 224 91% 63%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 224 91% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}