@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
  }
  
  @supports (font-variation-settings: normal) {
    :root { 
      font-family: InterVariable, sans-serif;
    }
  }

  :root {
    --background: 34 30% 92%;
    --foreground: 0 0% 18%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 18%;

    --popover: 34 30% 92%;
    --popover-foreground: 0 0% 18%;

    --primary: 62 42% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 15 59% 47%;
    --secondary-foreground: 0 0% 100%;

    --muted: 34 20% 87%;
    --muted-foreground: 0 0% 42%;

    --accent: 15 59% 47%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 62 42% 47%;
    --input: 62 42% 47%;
    --ring: 62 42% 47%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 18%;
    --foreground: 34 30% 92%;

    --card: 0 0% 18%;
    --card-foreground: 34 30% 92%;

    --popover: 0 0% 18%;
    --popover-foreground: 34 30% 92%;

    --primary: 62 42% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 15 59% 47%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 24%;
    --muted-foreground: 0 0% 64%;

    --accent: 15 59% 47%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 62 42% 47%;
    --input: 62 42% 47%;
    --ring: 62 42% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}